.naw{
    display: flex;
}
.naw li{
    list-style: none;
    position: relative;
}
.naw a {
    color: #877160;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
    border :2px solid #B0C7D8;
    border-radius: 5px;
    margin-left: 20px;
}
.naw a:hover{
    background-color: #607788;
    color: white;
}
.naw ul{
    position: absolute;
    display: none;
    left: 0 ;
    top:100%;
    padding: 0;
}
.naw li:hover ul{
    display: block;
}

.naw ul ul{
    display: none;
    position: absolute;
    top:0;
    left:100%;
}
