body{
    margin: 0;
    color: white;
    background: linear-gradient(to bottom,  blue,black) fixed;
}
    header {

        color: white;
        width: 100%;
        height: 110px;
        background: black;
        padding: 0;
        text-align: center;
    }
.menu{

    display: flex;
    padding: 0;
}
#zah{
    margin-top: 0;
}
.menu li{

    width: 430px;
    list-style: none;
    background-color: black;
    position: relative;
}
.menu a {

    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}
.menu a:hover{
    background-color: blue;
}
.menu ul{

    position: absolute;
    display: none;
    left: 0 ;
    top:100%;
    padding: 0;
}
.menu li:hover ul{
    display: block;

}

.menu ul ul{

    display: none;
    position: absolute;
    top:0;
    left:100%;
}

.main{

    display: flex;
}

.user_name{

}
a{
    text-decoration: none;
}
footer{
    background-color: blue;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 2%;
}
.flexbox{
    display: flex;
}
.item_1{
    margin-left: 3%;
    margin-top: 5%;
}
.item{
    margin-left: 12%;
    margin-top: 5%;
}
.inp_out {
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;

}
pre{
    margin: 0px;

}
input::placeholder{
    color: white;
}
input{
    margin-top: 10%;
    border-radius: 25px;
    background-color: #00004d;
    color: white;
    border-color: white;
}
hr{
    clear: both;
}
#razd_a{
    margin-left: 5%;
}
#razd_b{
    margin-left: 30%;
}
.p_nuz{
    margin-left: 5%;
}
.nuz_hr
{
    margin-left: 2%;
    margin-top: 10%;

}
.nuz_hr_img{
    margin-left: 1%;
    margin-top: 10%;

}
button{
    margin-top: 3%;
    border-color: white;
    margin-bottom:20% ;
}
.white_txt{
    color:white;
}
.social{
    width: 16px;
    height: 16px;
    filter: invert(1);
}
.user_img{

    background-image: url("images/user.png");
    border-radius:100% ;
    width: 100px;
    height: 100px;
    filter: invert();
    border: 3px solid black;
}
aside{

    text-align: center;
    padding: 60px;
    background: none;
    display: block;
    width: 20%;
    height: 225px;
}
main{


    text-align: center;
    background: none;
    padding: 60px;
    display: block;
    height: 225px;
    width: 80%;

}
footer{
    width: 100%;
    height: 300px;
    background:#00004d  ;
}